language: python
python:
  - "3.6"
install:
  - pip install -r requirements.txt
  - pip install nose
  - pip install coverage
  - pip install python-coveralls
script:
  - nosetests --nocapture --with-coverage --cover-package=propnet