[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

dash = "*"
dash-core-components = "*"
dash-html-components = "*"
dash-renderer = "*"
dash-table-experiments = "*"
gunicorn = "*"
frozendict = "*"
habanero = "*"
monty = "*"
networkx = "*"
pint = "*"
plotly = "*"
pybtex = "*"
pydash = "*"
pylatexenc = "*"
pymatgen = "*"
flask-caching = "*"
uncertainties = "*"
"8834a26" = {path = "./components/force-graph", editable = true}


[dev-packages]

pytest = "*"
"3f0c26f" = {path = ".", editable = true}


[requires]

python_version = "3.6"
